@tailwind base;
@tailwind components;
@tailwind utilities;

.loading-dots{
    background-color: rgba(10, 10, 228, 0.767);
  }
  
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}